<section
  aria-labelledby="change-password"
  class="bg-white border border-gray-300 p-4 sm:p-6 lg:p-8"
>
  <h2 id="change-password" class="sr-only">Change Password</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="">
      <!-- Current Password -->
      <div class="mb-4">
        <app-shared-input
          [control]="currentPasswordController"
          [obj]="{
            id: 'password-2',
            label: 'Current Password:',
            type: 'password',
            placeHolder: '•••••••',
          }"
        ></app-shared-input>
        @if (currentPasswordController.touched && currentPasswordController.errors) {
          @if (currentPasswordController.hasError('required')) {
            <app-error-mess mess="Password is required"></app-error-mess>
          }
          @if (currentPasswordController.hasError('pattern')) {
            <app-error-mess mess="Invalid password"></app-error-mess>
          }
        }
      </div>

      <!-- New Password -->
      <div class="mb-4">
        <app-shared-input
          [control]="newPasswordController"
          [obj]="{
            id: 'newPassword',
            label: 'New Password:',
            type: 'password',
            placeHolder: '•••••••',
          }"
        ></app-shared-input>
        @if (newPasswordController.touched && newPasswordController.errors) {
          @if (newPasswordController.hasError('required')) {
            <app-error-mess mess="Password is required"></app-error-mess>
          }
          @if (newPasswordController.hasError('pattern')) {
            <app-error-mess mess="Invalid password"></app-error-mess>
          }
        }
      </div>
      <!-- Confirm New Password -->
      <div class="mb-4">
        <app-shared-input
          [control]="confirmPasswordController"
          [obj]="{
            id: 'confirmNewPassword',
            label: 'Confirm New Password:',
            type: 'password',
            placeHolder: '•••••••',
          }"
        ></app-shared-input>
        @if (
          (confirmPasswordController.touched && confirmPasswordController.errors) ||
          passwordForm.errors
        ) {
          @if (passwordForm.hasError('passwordMismatch')) {
            <app-error-mess mess="Passwords don't match"></app-error-mess>
          }
        }
      </div>
    </div>

    @if (err()) {
      <app-alert mess="Something went wrong"></app-alert>
    }
    <!-- Actions -->
    <div class="mt-8">
      <button
        type="submit"
        class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center transition-colors disabled:opacity-50"
      >
        Update Password
      </button>
    </div>
  </form>
</section>
